<header>
    <nav>
        <a href="/">Fish Logger</a>
        <ul>
            <li><a href="/species">Species</a></li>
            <li><a href="/species/new">Add Species</a></li>
        </ul>
    </nav>
</header>