<header>
    <nav class="header-nav">
        <a class="header-title" href="/">Fish Logger</a>
        <ul>
            <li><a href="/fish">All Fishes</a></li>
            <li><a href="/fish/new">Add Fish</a></li>
        </ul>
    </nav>
</header>