<h2>Edit Fish</h2>
<form action="/fish/<%= fish.id %>?_method=PUT" method="POST">
    <%- include('_form_fields') %>
    <a href="/fish/<%= fish.id %>">Cancel</a>
    <button type="submit">Update</button>
</form>